<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>OFFline Library</title>
  </head>
  <body>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center d-flex flex-wrap mt-3">
      {% if page_current_number==1 %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="index{{page_current_number-1}}.html">Предыдущая</a>
        </li>
      {% endif %}
      {% for page_number in range(1, pages_amount+1) %}
        {% if page_number==page_current_number %}
          <li class="page-item active">
            <a class="page-link" href="#">{{page_number}}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{page_number}}.html">{{page_number}}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_current_number==pages_amount %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Следующая</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="index{{page_current_number+1}}.html">Следующая</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <div class="container">
    <div class="row">
      {% for two_books_list in grouped_by_two_books_list %}
        {% for book_dict in two_books_list %}
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../{{book_dict.image_path|urlencode}}" class="card-img" alt="{{book_dict.title}}, {{book_dict.author}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{book_dict.title}}</h5>
                    <p class="card-text">{{book_dict.author}}</p>
                    {% for genre in book_dict.genres %}
                      <span class="badge badge-light">{{genre}}</span>
                    {% endfor %}
                    <p class="card-text"><small class="text-muted"><a href="../{{book_dict.book_path|urlencode}}" target="_blank">Читать</a></small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
          <div class="w-100"></div>
      {% endfor %}
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>